<%= content_for :active_help, "class=active" %>
<div class="page-header">
	<h1>Facebook Object Visualizer - Help</h1>
</div>

<p>
	<h4>Chargement des données: </h4>
	Le temps de chargement peut varier selon la requête. Il est préférable d'attendre une à cinq secondes après une action.
</p>
<br />
<p>
	<h4>Configuration: </h4>
	L'application utilise le plugin Koala GraphAPI - <a href="https://github.com/arsduo/koala/wiki/Graph-API">Github</a>
</p>
<br />
<p>
	<h4>Récupérer votre token: </h4>
	<a href="http://tltest.heroku.com/">http://tltest.heroku.com/</a>

	Le token n'est pas indispensable. Sans lui, il est possible de récupérer les informations publiques d'un objet facebook.
	Pour cela, il faut renseigner le champ 'Object id' avec l'identifiant de l'objet recherché. (exemple: barackobama)
</p>
<br />

<p>
	<h4>Requête qui échoue ?</h4>
	<ul>
		<li>
			Vérifier le token.
		</li>
		<li>
			Vérifier le 'object id'.
		</li>
		<li>
			Les deux sont bon? Réessayez. Si ça ne marche toujours pas, contactez moi : sylvestre[dot]antoine[at]gmail[dot]com
		</li>
	</ul>
</p>